[submodule "third_party/sam2"]
	path = third_party/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "third_party/pyroki"]
	path = third_party/pyroki
	url = https://github.com/chungmin99/pyroki.git
